<div align="center">
    <div data-bind="ifnot: videoController">
        <div class="subscribers"
             style="display: inline-block; background-image: url('http://wixstreamingapp.appspot.com/static/images/screen1.png')"></div>
        <div class="myCamera" class="publisherContainer"
             style="display: inline-block; background-image: url('http://wixstreamingapp.appspot.com/static/images/40x40_icon.png'); background-position: center; background-repeat: no-repeat;"></div>
    </div>
    <div data-bind="if: videoController">
        <div id="subscribers" class="subscribers green-background"></div>
        <div id="myCamera" class="myCamera green-background"></div>
    </div>
    <div data-bind="if: videoController">
        <div data-bind="text: elapsedSessionTime" class="clock inline"></div>
        <div data-bind="click: endActiveSession" class="action-button inline">Leave</div>
    </div>
</div>