<!DOCTYPE html>
<html>
<head>
    <title>Welcome to OpenTalk</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/knockout-latest.js" type="text/javascript"></script>
    <script src="/javascripts/jquery-1.8.0.js" type="text/javascript"></script>
    <script src="/javascripts/underscore.js" type="text/javascript"></script>

</head>
<body>
<label>Username: <input type="text" data-bind="value: userId"></label>
<input type="button" value="Create session" data-bind="click: addSession">

<div data-bind="foreach: sessions">
    <div class="session">
        <span data-bind="text: sessionId"></span>
        <input type="button" value="Join as publisher" data-bind="click: $root.joinAsPublisher">
        <input type="button" value="Join as subscriber" data-bind="click: $root.joinAsSubscriber">
        <input type="button" value="Kill session" data-bind="click: $root.killSession">
    </div>
</div>


<script src="/javascripts/viewmodel/index.js" type="text/javascript"></script>
</body>
</html>