ul {
    display: block;
    height: 230px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.subscribers-list {
    width: 300px;
    height: 300px;
    display: inline-block;
}

.subscriber {
    padding: 10px 0 10px 40px;
    display: block;
    border: #e5e5e5 1px solid;
    text-align: left;

    background-image: linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -o-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, rgb(247, 247, 247)), color-stop(0.6, rgb(255, 255, 255)));

    cursor: pointer;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subscriber:hover, .subscriber.activeSession, .subscriber.activeSession:hover {
    background: #0a9dff;
    background-image: linear-gradient(bottom, rgb(12, 142, 242) 38%, rgb(89, 184, 247) 60%);
    background-image: -o-linear-gradient(bottom, rgb(12, 142, 242) 38%, rgb(89, 184, 247) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(12, 142, 242) 38%, rgb(89, 184, 247) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(12, 142, 242) 38%, rgb(89, 184, 247) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(12, 142, 242) 38%, rgb(89, 184, 247) 60%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, rgb(12, 142, 242)), color-stop(0.6, rgb(89, 184, 247)));
    color: white;

    display: block;
    border: #e5e5e5 1px solid;
}

.active-session {
    width: 480px;
    height: 370px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
}


.subscribers {
    height: 290px;
    width: 480px;
    background-color: #faaadd;
    display: inline-block;
}

.myCamera {
    height: 90px;
    width: 120px;
    background-color: #faaadd;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
}

.subscriber-view {
    width: 840px;
}

.publisher-view {
    vertical-align: top;
    width: 840px;
    height: 390px;
    padding-top: 30px;
    text-align: center;
}

.publisher-view>div{
    vertical-align: top;
}