ul {
    display: block;
    height: 230px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background: #eee;
    background-image: linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -o-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, rgb(247, 247, 247)), color-stop(0.6, rgb(255, 255, 255)));
    border: #e5e5e5 1px solid;
}

.subscribers-list {
    width: 290px;
    height: 300px;
    display: inline-block;
    padding: 0;
    margin: 0 0 0 -9px;
}

.subscriber {
    padding: 10px 0 10px 40px;
    display: block;
    border: #e5e5e5 1px solid;
    text-align: left;

    background-image: linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -o-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(247, 247, 247) 38%, rgb(255, 255, 255) 60%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, rgb(247, 247, 247)), color-stop(0.6, rgb(255, 255, 255)));

    cursor: pointer;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subscriber:hover, .subscriber.activeSession, .subscriber.activeSession:hover {
    background: #0a9dff;
    background-image: linear-gradient(bottom, rgb(12, 142, 242) 38%, rgb(89, 184, 247) 60%);
    background-image: -o-linear-gradient(bottom, rgb(12, 142, 242) 38%, rgb(89, 184, 247) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(12, 142, 242) 38%, rgb(89, 184, 247) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(12, 142, 242) 38%, rgb(89, 184, 247) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(12, 142, 242) 38%, rgb(89, 184, 247) 60%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.38, rgb(12, 142, 242)), color-stop(0.6, rgb(89, 184, 247)));
    color: white;

    display: block;
    border: #e5e5e5 1px solid;
}

.active-session {
    width: 480px;
    /*height: 290px;*/
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

.subscribers {
    height: 290px;
    width: 480px;
    background-color: #faaadd;
    display: inline-block;
}

.myCamera {
    height: 90px;
    width: 120px;
    background-color: #faaadd;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
}

.subscriber-view {
    width: 530px;
    position: relative;
    margin-top: 14px;
}

.publisher-view {
    vertical-align: top;
    width: 840px;
    padding: 30px;
    text-align: center;
}

.publisher-view>div.active-session {
    margin: 0 0 0 -20px;
}

.publisher-view>div {
    vertical-align: top;
}

.clock {
    background-image: linear-gradient(bottom, rgb(255, 255, 255) 38%, rgb(247, 247, 247) 60%);
    background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 38%, rgb(247, 247, 247) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 38%, rgb(247, 247, 247) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 38%, rgb(247, 247, 247) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 38%, rgb(247, 247, 247) 60%);

    -webkit-box-shadow: inset 0px 1px 2px #999;
    box-shadow: inset 0px 1px 2px #999;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    margin: 10px;
    font-size: 2.0em;
    color: black;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.request-action {
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.request-action:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    width: 5px;
}

.request-action:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.centered {
    color: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

    display: inline-block;
    vertical-align: middle;
    width: 400px;
    padding: 10px 15px;
    border: #e5e5e5 solid 5px;
    background: #05a1b7;
}

.action-button {
    background-color: #d61717;
    padding: 10px 30px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    display: inline-block;

    background-image: linear-gradient(bottom, rgb(232, 51, 75) 52%, rgb(214, 23, 23) 17%);
    background-image: -o-linear-gradient(bottom, rgb(232, 51, 75) 52%, rgb(214, 23, 23) 17%);
    background-image: -moz-linear-gradient(bottom, rgb(232, 51, 75) 52%, rgb(214, 23, 23) 17%);
    background-image: -webkit-linear-gradient(bottom, rgb(232, 51, 75) 52%, rgb(214, 23, 23) 17%);
    background-image: -ms-linear-gradient(bottom, rgb(232, 51, 75) 52%, rgb(214, 23, 23) 17%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.52, rgb(232, 51, 75)), color-stop(0.17, rgb(214, 23, 23)));

    -webkit-box-shadow: inset 0px 1px 2px #999;
    box-shadow: inset 0px 1px 2px #999;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    margin: 10px;
    text-align: center;
    vertical-align: top;

}

.passive-message {
    position: absolute;
    background: #ffffff;
    color: #000000;
    top:0px;
}

.green-background {
    background: #83c600;
    background-image: linear-gradient(bottom, rgb(118, 192, 0) 23%, rgb(190, 232, 23) 73%);
    background-image: -o-linear-gradient(bottom, rgb(118, 192, 0) 23%, rgb(190, 232, 23) 73%);
    background-image: -moz-linear-gradient(bottom, rgb(118, 192, 0) 23%, rgb(190, 232, 23) 73%);
    background-image: -webkit-linear-gradient(bottom, rgb(118, 192, 0) 23%, rgb(190, 232, 23) 73%);
    background-image: -ms-linear-gradient(bottom, rgb(118, 192, 0) 23%, rgb(190, 232, 23) 73%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.23, rgb(118, 192, 0)), color-stop(0.73, rgb(190, 232, 23)));
}


.paid-request:before {
    content: '$ ';
    color: green;
    font: 1.5em bold;
    display: inline;
}

.unpaid-request:before {
    content: '! ';
    color: red;
    font: 1.5em bold;
    display: inline;
}

.unpaid-request {
    color: #c00;
}
