body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.activeSession {
    background-color: #7fffd4;
}

.publisherContainer {
    display: inline-block;
}

#subscribers {
    display: inline-block;
}