<!DOCTYPE html>
<html>
<head>
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.8.0/js/Wix.js"></script>
    <script src ="https://www.paypalobjects.com/js/external/dg.js" type="text/javascript"></script>
    <script type="text/javascript" src="/static/javascripts/knockout-latest.js"></script>
    <script type="text/javascript" src="/static/javascripts/knockout.mapping.js"></script>
    <script type="text/javascript" src="/static/javascripts/viewmodel/paypal.js"></script>

</head>

<body>
<div class="container-fluid">
</div>
<button value="request session" ></button>

<form action="https://paypal.com/webapps/adaptivepayment/flow/pay" target="PPDGFrame" data-bind="visible:payKey">
      <input id="type" type="hidden" name="expType" value="light">
      <input id="paykey" type="hidden" name="payKey" data-bind="value:payKey">
      <input type="submit" id="submitBtn" value="Pay with PayPal">
</form>

<script type="text/javascript">
    var viewModel = new ViewModel($instanceToken);
    ko.applyBindings(viewModel);
</script>
</body>
</html>