<div id="main_box" class="shadow round subscriber-view block">
    <div data-bind="template: 'active-session'" class="active-session"></div>
    <div id="status" data-bind="template: status" class="request-action"></div>
</div>

<script src="http://staging.tokbox.com/v0.91/js/TB.min.js" type="text/javascript"></script>
<script src="/static/javascripts/knockout-latest.js" type="text/javascript"></script>
<script src="/static/javascripts/jquery-1.8.0.js" type="text/javascript"></script>
<script src="/static/javascripts/underscore.js" type="text/javascript"></script>
<script src="/static/javascripts/knockout.mapping.js" type="text/javascript"></script>
<script src="https://www.paypalobjects.com/js/external/dg.js" type="text/javascript"></script>

<script src="/static/javascripts/koExternalTemplateEngine_all.js" type="text/javascript"></script>
<script type="text/javascript">infuser.defaults.templateUrl = '/static/templates'</script>

<script src="/static/javascripts/viewmodel/subscriber.js" type="text/javascript"></script>

<script src="/static/javascripts/opentok/video.js" type="text/javascript"></script>
