<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CSS buttons with pseudo-elements"/>
    <meta name="keywords" content="css, css3, pseudo, buttons, anchor, before, after, web design"/>
    <meta name="author" content="wixtream"/>
    <link rel="shortcut icon" href="../favicon.ico">

    <link rel="stylesheet" type="text/css" href="http://wixstreamingapp.appspot.com/static/stylesheets/wixStyle.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <title>Wixtream baExtreme</title>
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.8.0/js/Wix.js"></script>

    <link rel='stylesheet' href='/static/stylesheets/style.css'/>

    <script type="text/javascript">
        var widgetModel = $widgetModelJson;
    </script>

</head>

<body>
#if ($model.publisher)
    #parse("views/publisher.vm")
#else
    #parse("views/subscriber.vm")
#end
</body>