<!DOCTYPE html>
<html>
<head>
    <title>Wixtream baExtreme</title>
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.8.0/js/Wix.js"></script>

    <link rel='stylesheet' href='/static/stylesheets/style.css'/>

    <script type="text/javascript">
        var widgetModel = $widgetModelJson;
    </script>

</head>

<body>
#if ($model.publisher)
    #parse("views/publisher.vm")
#else
    #parse("views/subscriber.vm")
#end
</body>