<!DOCTYPE html>
<html>
<head>
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://current.bootstrapcdn.com/bootstrap-v204/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.8.0/js/Wix.js"></script>

    <script type="text/javascript">
        var widgetModel = $widgetModelJson;
    </script>

</head>

<body>
#if ($model.publisher)
    #parse("publisher.vm")
#else
    #parse("subscriber.vm")
#end
</body>